**20MAI0077**

**Vivek Dadhich**

**DWM LAB DA 6**
<br>
<br>

**Web Scraping** is an automatic method to obtain large amounts of data from websites. Most of this data is unstructured data in an HTML format which is then converted into structured data in a spreadsheet or a database so that it can be used in various applications
<br>

**Steps for Scraping Any Website**

1. Sending an HTTP GET request to the URL of the webpage that you want to scrape, which will respond with HTML content. We can do this by using the Request library of Python.

2. Fetching and parsing the data using Beautifulsoup and maintain the data in some data structure such as Dict or List.

3. Analyzing the HTML tags and their attributes, such as class, id, and other HTML tag attributes. Also, identifying your HTML tags where your content lives.

4. Outputting the data in any file format such as CSV, XLSX, JSON, etc.

In [20]:
import urllib.request
from bs4 import BeautifulSoup 
import re
import pandas as pd

### Pulling HTML out of a web page
<br>

In [142]:
#load html code from a url
page = urllib.request.urlopen("https://en.wikipedia.org/wiki/COVID-19_pandemic_in_Rajasthan")
soup = BeautifulSoup(page, 'html.parser')
print(soup.title.text)

COVID-19 pandemic in Rajasthan - Wikipedia

### Targeting 1st Table
<br>

In [151]:
table1 = soup.find('table')
cov_in_raj = []
for items in table1.find_all("tr")[3:-1]:
    data1 = [' '.join(item.text.split()) for item in items.find_all(['th','td'])]
    cov_in_raj.append(data1)

In [160]:
df1 = pd.DataFrame(cov_in_raj)
df1.head()

                0                    1
0         Disease             COVID-19
1    Virus strain           SARS-CoV-2
2        Location     Rajasthan, India
3  First outbreak  Wuhan, Hubei, China
4      Index case               Jaipur

<br>

### Targeting 2nd Table

Analyzing the outer table, we can see that it has special attributes which include class as **wikitable** and has two tr tags inside tbody

In [162]:
table2 = soup.find("table",class_="wikitable")

District = []
Total_cases = []
Recoveries = []
Deaths = []
Active_cases = []

for items in table2.find_all("tr")[3:-1]:
    data2 = [' '.join(item.text.split()) for item in items.find_all(['th','td'])]
    District.append(data2[0])
    Total_cases.append(data2[1])
    Recoveries.append(data2[2])
    Deaths.append(data2[3])
    Active_cases.append(data2[4])

In [163]:
#df1 = pd.DataFrame(District, columns = ['District'])
df2 = pd.DataFrame({'District': District, 'Total cases':Total_cases, 'Recoveries':Recoveries, 'Deaths':Deaths, 'Active cases':Active_cases})
df2.head(10)

      District Total cases Recoveries Deaths Active cases
0        Ajmer      29,326     23,241    285        5,800
1        Alwar      40,525     29,408    137       10,980
2     Banswara       7,463      4,959     58        2,446
3        Baran       7,744      4,285     46        3,413
4       Barmer       8,817      5,548     92        3,177
5    Bharatpur      11,716     10,265    147        1,304
6     Bhilwara      23,161     13,825     74        9,262
7      Bikaner      30,250     23,901    251        6,098
8        Bundi       5,643      3,691     27        1,925
9  Chittorgarh      11,868      7,626     71        4,171

<br>

### Targeting 3rd Table

In [164]:
table3 = soup.find('table',class_='wikitable plainrowheaders')
cov_in_raj_2 = []
for items in table3.find_all("tr")[:-1]:
    data3 = [' '.join(item.text.split()) for item in items.find_all(['th','td'])]
    cov_in_raj_2.append(data3)

In [165]:
df3 = pd.DataFrame(cov_in_raj_2)
df3.head()

                            0        1
0           Samples collected  757,137
1             Tested Positive  225,817
2           Tests per million    9,799
3  Percentage Tested Positive    29.8%

### Exporting Data Frames into a CSV files
<br>

In [166]:
df1.to_csv('covid_raj_table1.csv')
df2.to_csv('covid_raj_table2.csv')
df3.to_csv('covid_raj_table3.csv')